@model List<Test.NhanVien>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<style>
    span.item-submit a {
        color: white;
    }
</style>
<h2>Nhân Viên @ViewBag.NAME</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Basic Table</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                @*<div class="panel-body">
                    @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-4">
                                    <input type="text" name="timkiem" value="" />
                                </div>
                                <div class="col-md-4">
                                    <button type="submit">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>*@
                <button type="submit" class="btn btn-info">
                    @Html.ActionLink("Thêm nhân viên", "create")
                </button>
                @*<asp:HyperLink runat="server" ID="hplBtnThem" class="btn btn-info" NavigateUrl="~/Admin/NhanVien/create">Thêm nhân viên</asp:HyperLink>*@
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th>Nghiệp vụ</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Địa chỉ</th>
                            <th>Tài khoản</th>
                            <th>Số điện thoại</th>
                            <th>Chắc năng</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.MaNV)</td>
                                <td>@Html.DisplayFor(model => item.TenNV)</td>
                                <td>@Html.DisplayFor(model => item.NghiepVu)</td>
                                <td>@Html.DisplayFor(model => item.NgaySinh)</td>
                                <td>@Html.DisplayFor(model => item.GioiTinh)</td>
                                <td>@Html.DisplayFor(model => item.DiaChi)</td>
                                <td>@Html.DisplayFor(model => item.TaiKhoan)</td>
                                <td>@Html.DisplayFor(model => item.SDT)</td>
                                <td>
                                    <button class="btn btn-primary btn-xs">
                                        <i class="fa fa-pencil">
                                            <span class="item-submit">
                                                @Html.ActionLink("Edit", "Edit", new { id = item.MaNV })
                                            </span>
                                        </i>
                                    </button>
                                    <button class="btn btn-success btn-xs">
                                        <i class="fa fa-check">
                                            <span class="item-submit">
                                                @Html.ActionLink("Detail", "Details", new { id = item.MaNV })
                                            </span>
                                        </i>
                                    </button>
                                    <button class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o">
                                            <span class="item-submit">
                                                @Html.ActionLink("Delete", "Delete", new { id = item.MaNV })
                                            </span>
                                        </i>
                                    </button>
                                </td>
                            </tr>
                         }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

